table {
    border-collapse: collapse;

}

td, th {
    border: 1px solid black;
    
    text-align: left;
    padding: 5px;
}

.navigation{
    background: rgb(129, 197, 160);
    padding:10px 10px;
    text-align: center
}
nav a{
    
    text-decoration: none;
    margin: 0px 5px;
}

nav a.active{
    color: red;
}
