
.bg-img{
    background-image: url("pizza1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-dark-transparent{
    background-color: #000000a1;
}